@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar-background: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius: 0.625rem;
  --font-sans: var(--font-inter);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0.014 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0.014 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0.014 285.823);
  --primary: oklch(0.205 0.012 285.885);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.97 0.003 264.542);
  --secondary-foreground: oklch(0.205 0.012 285.885);
  --muted: oklch(0.97 0.003 264.542);
  --muted-foreground: oklch(0.556 0.014 285.938);
  --accent: oklch(0.97 0.003 264.542);
  --accent-foreground: oklch(0.205 0.012 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0.002 247.839);
  --border: oklch(0.922 0.004 264.71);
  --input: oklch(0.922 0.004 264.71);
  --ring: oklch(0.87 0.006 264.531);
  --sidebar-background: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.145 0.014 285.823);
  --sidebar-primary: oklch(0.205 0.012 285.885);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.97 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.205 0.012 285.885);
  --sidebar-border: oklch(0.922 0.004 264.71);
  --sidebar-ring: oklch(0.87 0.006 264.531);
}

.dark {
  --background: oklch(0.145 0.014 285.823);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.205 0.012 285.885);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.205 0.012 285.885);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.985 0.002 247.839);
  --primary-foreground: oklch(0.205 0.012 285.885);
  --secondary: oklch(0.269 0.015 285.885);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.269 0.015 285.885);
  --muted-foreground: oklch(0.7 0.01 285.938);
  --accent: oklch(0.269 0.015 285.885);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.45 0.2 27.325);
  --destructive-foreground: oklch(0.985 0.002 247.839);
  --border: oklch(0.3 0.015 285.885);
  --input: oklch(0.3 0.015 285.885);
  --ring: oklch(0.55 0.01 285.938);
  --sidebar-background: oklch(0.175 0.014 285.823);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.985 0.002 247.839);
  --sidebar-primary-foreground: oklch(0.205 0.012 285.885);
  --sidebar-accent: oklch(0.269 0.015 285.885);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(0.3 0.015 285.885);
  --sidebar-ring: oklch(0.55 0.01 285.938);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}